$breakpoint-tablet: 768px;
$breakpoint-deskop: 1024px;
$breakpoint-mobile: 500px;
$breakpoint-deskop-large: 1280px;

body {
    background: aliceblue;
}

.ImageContiner {
    display: flex;
    justify-content: center;
}

img {
    height: 250px;
    width: 350px;
    margin: 5px;
    border-radius: 10px;
}

.InfinitRender__continer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media (max-width: $breakpoint-tablet) {
    .InfinitRender {
        margin: 5px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    img {
        height: 250px;
        width: 230px;
        margin: 5px;
        border-radius: 5px;
    }
}


@media (max-width: $breakpoint-mobile) {
    .InfinitRender {
        width: 100%;
        margin: 5px;
    }

    img {
        height: 250px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

}


@media (min-width: $breakpoint-tablet) {
    .InfinitRender {
        max-width: 768px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    img {
        height: 250px;
        width: 250px;
        margin: 2px;
        border-radius: 10px;
    }
}

@media (min-width: $breakpoint-deskop) {
    .InfinitRender {
        max-width: 1000px;
    }

    img {
        width: 300px;
    }
}

@media (min-width: $breakpoint-deskop-large) {
    .InfinitRender {
        max-width: 1280px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }

    img {
        height: 300px;
        width: 310px;
        margin: 2px;
        border-radius: 10px;
    }
}

.loader {
    display: flex;
    margin: auto;
}

