.ImageContiner {
    display: flex;
    justify-content: center;
}

img {
    height: 250px;
    width: 350px;
    margin: 5px;
    border-radius: 10px;
}

body {
    background: aliceblue;
}

@media only screen and (max-width: 600px) {


    .InfinitRender {
        width: 100%;
        margin: 5px;
    }

    img {
        height: 350px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

}

@media only screen and (min-width: 600px) {

    .InfinitRender {
        width: 100%;
        margin: 5px;
    }

    img {
        height: 350px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

}

@media only screen and (min-width: 768px) {

    .InfinitRender {
        width: 100%;
        margin: 5px;
    }

    img {
        height: 350px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

}


@media only screen and (min-width: 1200px) {

    .InfinitRender {
        width: 100%;
        margin: 5px;
    }

    img {
        height: 350px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .InfinitRender__continer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }

}

.loader {
    display: flex;
    margin: auto;
}

.img-hover-zoom {
    height: 360px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .9s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}